@model List<DiningTable>

<h1>Table Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>Table ID</th>
            <th>Seating Capacity</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var table in Model)
        {
            <tr>
                <td>@table.DiningTableID</td>
                <td>@table.SeatingCapacity</td>
                <td>@(table.Availability ? "Available" : "In Maintainence")</td>
                <td>
                    @if (table.Availability)
                    {
                        <a id="book" href="@Url.Action("Book","Booking", new { tableId = table.DiningTableID })" class="btn btn-primary">Book</a>
                    }
                    <a id="delete" href="@Url.Action("Delete","Table", new { tableId = table.DiningTableID })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* 
<a href="@Url.Action("AvailableSlots", "Table")">View Available Slots</a><br>
<a href="@Url.Action("BookedSlots", "Table")">View Booked Slots</a> *@
