@model Booking 

@{
    var turfId = Context.Request.Query["turfId"];
}

<h1>Make a Reservation</h1>

<h2>Selected Turf: @turfId</h2>

@using (Html.BeginForm())
{
    <div style="margin-bottom: 15px;">
        <label for="reservationDate" style="font-weight: bold;">Reservation Date:</label>
        @Html.TextBoxFor(model => model.ReservationDate, new { type = "date", @class = "form-control", id = "reservationDate"})
        @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
    </div>
    <div style="margin-bottom: 15px;">
        <label for="timeSlot" style="font-weight: bold;">Time Slot:</label>
        @Html.TextBoxFor(model => model.TimeSlot, new { type = "time", @class = "form-control", id = "timeSlot"})
        @Html.ValidationMessageFor(model => model.TimeSlot, "", new { @class = "text-danger" })
    </div>

    <button id="submit" type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 8px 16px; cursor: pointer;">Submit</button>
}

<a id="back" href="@Url.Action("Index", "Turf")">Back to Turf Reservations</a>
<br>
