@model List<Turf>

<h1>Turf Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>Turf ID</th>
            <th>Name</th>
            <th>Seating Capacity</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var turf in Model)
        {
            <tr>
                <td>@turf.TurfID</td>
                <td>@turf.Name</td>
                <td>@turf.Capacity</td>
                <td>@(turf.Availability ? "Available" : "In Maintenance")</td>
                <td>
                    @if (turf.Availability)
                    {
                        <a id="book" href="@Url.Action("Book","Booking", new { turfId = turf.TurfID })" class="btn btn-primary">Book</a>
                    }
                    <a id="delete" href="@Url.Action("Delete","Turf", new { turfId = turf.TurfID })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
