@model dotnetapp.Models.Passenger
@{
    var trainId = Context.Request.Query["trainId"];
}
<h2>Book Ticket</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div> 

    <div class="form-group">
        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>

    @* <div class="form-group">
        @Html.Label("TrainID", "Train ID")
        <input type="text" id="TrainID" name="TrainID" class="form-control" value="@trainId" readonly />
    </div> *@

    <button type="submit" class="btn btn-primary">Book Seat</button>

    @Html.ActionLink("Back to Available Trains", "AvailableTrains", "Train")
}