@model List<Train>

<h2>Available Trains</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Departure Location</th>
                <th>Destination</th>
                <th>Date Of Departure</th>
                <th>Maximum Capacity</th>
                <th>Booked Passengers</th>
                <th>Available Seats</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var train in Model)
            {
                int bookedPassengers = train.Passengers.Count;
                int availableSeats = train.MaximumCapacity - bookedPassengers;

                <tr>
                    <td>@train.DepartureLocation</td>
                    <td>@train.Destination</td>
                    <td>@train.DepartureTime</td>
                    <td>@train.MaximumCapacity</td>
                    <td>@bookedPassengers</td>
                    <td>@availableSeats</td>
                    <td>

                        @if (availableSeats > 0)
                        {
                            <a id="book" href="@Url.Action("BookSeat", "Passenger", new { trainId = train.TrainID })" class="btn btn-primary">Book Ticket</a>
                        }
                        else
                        {
                            <span class="text-muted">No seats available</span>
                        }
                        <a id="delete" asp-asp-controller="Ride" asp-action="DeleteConfirm" asp-route-id="@train.TrainID" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No rides available.</p>
}
