@model dotnetapp.Models.Train

<h2>Delete Train</h2>

<div>
    <p>Are you sure you want to delete this train?</p>
    <dl class="row">
        @* <dt class="col-sm-2">Train ID:</dt>
        <dd class="col-sm-10">@Model.TrainID</dd> *@
        <dt class="col-sm-2">Departure Location:</dt>
        <dd class="col-sm-10">@Model.DepartureLocation</dd>
        <dt class="col-sm-2">Destination:</dt>
        <dd class="col-sm-10">@Model.Destination</dd>
        <dt class="col-sm-2">Departure Time:</dt>
        <dd class="col-sm-10">@Model.DepartureTime</dd>
        <dt class="col-sm-2">Maximum Capacity:</dt>
        <dd class="col-sm-10">@Model.MaximumCapacity</dd>
    </dl>
    @using (Html.BeginForm("Delete", "Train", new { id = @Model.TrainID }, FormMethod.Post))
    {
        @Html.HiddenFor(model => model.TrainID)
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="AvailableTrains" class="btn btn-secondary">Cancel</a>
    }
</div>

