@model Passenger

<h2>Passenger Details</h2>

<p>Passenger ID: @Model.PassengerID</p>
@* <p>Departure Location: @Model.DepartureLocation</p> *@
@* <p>Destination: @Model.destination</p>
<p>Date and Time: @Model.departureTime</p>
<p>Maximum Capacity: @Model.maximumCapacity</p> *@
@* <p>Joined Commuters: @ViewBag.bookedPassengers</p> *@
<p>Available Seats: @ViewBag.availableSeats</p>


@* @Html.ActionLink("Back to Available Passengers", "AvailablePassengers", "Passenger") *@